{% extends "host_base.html" %}
{% block head %}
<title>石墨设计&middot;个人主页</title>
<style type="text/css">
</style>
<script type="text/javascript">
require(['jquery','domReady!'], function(doc){
    reload();
});
function reload() {
    var empty_pfx = '<table class="table"> <thead> <tr> <th style="width:20px"></th> <th style="width:110px">图片</th> <th style="width:240px">标题</th> <th style="max-width:300px">简介</th> <th style="width:80px">操作</th> <th style="width:20px"></th> </tr> </thead>'
    $('#adminbox').html( empty_pfx+'<tbody><tr><td class="rgcenter" colspan=8><h5>正在加载数据 ...</h5></td></tr></tbody></table>' )
    $.ajax({
        url      : '{{p_url["miniset_wzd_host_info"]}}',
        type     : 'POST',
        data     : {'_xsrf':getCookie('_xsrf')},
        dataType : 'html',
        timeout  : 5000,
        error    : function(xmlHttpRequest,textStatus,errorThrown){
                        $('#adminbox').html( empty_pfx+'<tbody><tr onclick="reload()"><td class="rgcenter" colspan=8><h5>加载超时，点击刷新</h5></td></tr></tbody></table>' )
                   },
        success  : function(result){
                        $('#adminbox').html( result );
                    }
    });
}
function node_del_click(nodeid){
    $.ajax({
        url      : '{{p_url["miniset_wzd_api_del"]}}',
        type     : 'POST',
        data     : {'_xsrf':getCookie('_xsrf'),'nodeid':nodeid},
        dataType : 'json',
        timeout  : 5000,
        error    : function(xmlHttpRequest,textStatus,errorThrown){
                        if(xmlHttpRequest.readyState == 0 || xmlHttpRequest.status == 0){
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                   },
        success  : function(result){
                        if( result.op==true){
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                    }
    });
}
</script>
<script type="text/javascript">
var modal_nodeid = null;
var modal_imgs = null;
var modal_img_index = 0;
function ImgClick(title,nodeid,imgs){ 
    Pop(title,nodeid,imgs);
    $('#imgclick_modal').modal('toggle');
}
function Pop(title,nodeid,imgs){ 
    modal_nodeid = nodeid;
    modal_imgs = imgs;
    var h = '';
    if( imgs.length >= 1 ){
        ImgIndexClick(0,imgs[0]);
        for(var i=0;i<imgs.length;i++){
            h = h
                + '<li style="padding-left:0px;padding-right:10px;">'
                + '    <div class="rgimgbox" style="width:60px;height:60px;"><div class="rgimgbox_pos" style="width:60px;height:60px;border:1px #eaeaea solid;"><div>'
                + '    <img src="' + imgs[i] + '" onload="DrawImage(this,60,60)" style="cursor:pointer;" onclick="ImgIndexClick('+i+',\'' + imgs[i] + '\')" />'
                + '    </div></div></div>'
                + '</li>';
        }
    }
    $('#ridpopindex').html(h);
}
function ImgIndexClick(index,url){ 
    modal_img_index = index;
    var h = ''
            + '<li style="padding-left:0px;">'
            + '    <div class="rgimgbox" style="width:301px;height:300px;"><div class="rgimgbox_pos" style="width:301px;height:300px;"><div>'
            + '    <img src="' + url + '" onload="DrawImage(this,300,300)" />'
            + '    </div></div></div>'
            + '</li>';
    $('#ridpopmain').html(h);
    $('#rid_url_edit').val(url);
}
function ImgChange(url){ 
    $.ajax({
        url      : '{{p_url["miniset_wzd_api_img_update"]}}',
        type     : 'POST',
        data     : {'_xsrf':getCookie('_xsrf'),'nodeid':modal_nodeid,'index':modal_img_index,'url':url},
        dataType : 'json',
        timeout  : 5000,
        error    : function(xmlHttpRequest,textStatus,errorThrown){
                        if(xmlHttpRequest.readyState == 0 || xmlHttpRequest.status == 0){
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                   },
        success  : function(result){
                        if( result.op==true){
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                    }
    });
}
function ImgAdd(url){ 
    $.ajax({
        url      : '{{p_url["miniset_wzd_api_img_add"]}}',
        type     : 'POST',
        data     : {'_xsrf':getCookie('_xsrf'),'nodeid':modal_nodeid,'url':url},
        dataType : 'json',
        timeout  : 5000,
        error    : function(xmlHttpRequest,textStatus,errorThrown){
                        if(xmlHttpRequest.readyState == 0 || xmlHttpRequest.status == 0){
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                   },
        success  : function(result){
                        if( result.op==true){
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                    }
    });
}
function ImgDel(){ 
    $.ajax({
        url      : '{{p_url["miniset_wzd_api_img_del"]}}',
        type     : 'POST',
        data     : {'_xsrf':getCookie('_xsrf'),'nodeid':modal_nodeid,'index':modal_img_index},
        dataType : 'json',
        timeout  : 5000,
        error    : function(xmlHttpRequest,textStatus,errorThrown){
                        if(xmlHttpRequest.readyState == 0 || xmlHttpRequest.status == 0){
                            $('#rid_url_add').val('');
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                   },
        success  : function(result){
                        if( result.op==true){
                            $('#rid_url_add').val('');
                            $('#imgclick_modal').modal('toggle');
                            reload();
                        }else{
                            alert('{{p_msg["err_timeout"]}}');
                        }
                    }
    });
}
</script>
{% end %}

{% block location %}
{% end %}

{% block header %}
{% end %}

{% block body %}
<!-- Modal -->
<div id="imgclick_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-muted">编辑</h4>
            </div>
            <div class="modal-body">
                <section style="width:300px;background-color:#f8f8f8;border:1px #eaeaea solid;margin:20px auto;">
                    <ul id="ridpopmain" class="list-inline">
                    </ul>
                </section>
                <section style="text-align:center;margin:20px auto;">
                    <ul id="ridpopindex" class="list-inline">
                    </ul>
                </section>
                <div style="width:600px;margin:20px auto;">
                    <ul class="list-inline">
                        <li><h5 style="color:#464748;">编&nbsp;辑&nbsp;图&nbsp;片 : </h5></li>
                        <li><input type="text" style="width:300px;margin-top:10px;" id="rid_url_edit" ></input></li>
                        <li><button style="width:60px;height:30px;" class="rgbtn" id="rid_url_edit_done" onclick="ImgChange($('#rid_url_edit').val())" >修改</button></li>
                        <li><button style="width:60px;height:30px;" class="rgbtn" id="rid_url_edit_del"  onclick="ImgDel()" >删除</button></li>
                    </ul>
                    <ul class="list-inline">
                        <li><h5 style="color:#464748;">新&nbsp;增&nbsp;图&nbsp;片 : </h5></li>
                        <li><input type="text" style="width:300px;margin-top:10px;" id="rid_url_add" ></input></li>
                        <li><button style="width:130px;height:30px;" class="rgbtn" id="rid_url_add_done" onclick="ImgAdd($('#rid_url_add').val())" >添加</button></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="rgbase">
    <ul class="nav nav-pills rgsubnav">
        <!-- <li class=""><a class="muted" href="">数据统计</a></li> -->
        <li class="active"><a>管理后台</a></li>
    </ul>
    <div class="rgmain">
        <ul class="breadcrumb">
            <li><a href="{{p_url['host_home']}}">全部模块</a></li>
            <li class="active">{{p_miniset_wzd_info['name']}}</li>
        </ul>
        <div id="adminbox">
        </div>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% end %}

{% block footer %}
{% end %}

